html, body {
    margin: 0;
    padding: 0;
}

.btn_getData, .btn_postData, .btn_deleteData, .btn_putData {
    margin: 10px;
    padding: 10px 15px;
    color: whitesmoke;
    text-transform: uppercase;
    background: darkblue;
    border: 1px solid darkblue;
    border-radius: 4px;
}

.btn_postData {
    background: darkgreen;
    border: 1px solid darkgreen;
}

.btn_deleteData {
    background: darkred;
    border: 1px solid darkred;
}

.btn_putData {
    background: black;
    border: 1px solid black;
}
